body {
  background-image: a.jpg;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: black;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
}

h3 {
  text-align: center;
  color: black;
  font-size: 22px;
  padding-top: 20px;
  width: 100%;
  font-family: Georgia;
}

p {
  font-weight: bold;
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: helvetica;
	font-size: 18px;
}

button {
  background-color: #008CBA;
  border: 4px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: auto;
  border-radius: 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  border: 4px solid #008CBA;
  color: #008CBA;
}




