*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(223, 218, 209);
}

.chatroom{
    background: #fff;
    padding: 5px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
}

.chatlogs{
    padding: 10px;
    width: 100%;
    height:75vh;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.chatlogs::-webkit-scrollbar{
    width:10px;
}

.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px; 
    background: rgba(0, 0, 0, 0.1)
}
.chat{
    display: flex;
    flex-flow:row wrap;
    align-items:flex-start;
    margin-bottom: 10px;
}
.chat .user-photo{
    width:100%;
    background:#ccc;
    border-radius: 50%;
}
.user-img
{
    width: 100%;
}
.photoholder
{
    width: 100%;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    padding-right:1% !important;
    padding-left:1% !important;
    
}
.chat .chat-message{
    padding:15px;
    margin: 5px 10px 0;
    background:#1ddced;
    border-radius:10px;
    color:#fff;
    font-size: 18px;
    word-break: break-all;
}
.friend .chat-message{
    background: #1adda4;
   
}
.self .chat-message{
    background: #1ddced;
  
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.row
{
    margin-bottom: 5px;
}
